.banner {
    min-height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url(./../images/header.jpg) no-repeat scroll center;
    background-size: cover;
    border-top: 1px solid #262c30;
    border-bottom: 1px solid #262c30;
}

.banner__h1 {
    padding: 0;
    margin: 0;
    color: #fff;
    text-shadow: 0 2px 10px #333;
}

.banner__paragraph {
    font-size: 18px;
    padding: 0 20px;
    color: #fff;
    text-shadow: 0 2px 5px #333;
}

.banner__link {
    text-decoration: none;
    color: #FFF;
    background-color: #E5383B;
    padding: 8px 24px;
    font-size: 17px;
    border-radius: 25px;
    transition: 0.15s ease-in-out;
    box-shadow: 0 1px 4px #333;
}

.banner__link:hover {
    color: #E5383B;
    background-color: #FFF;
}