.support {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 0;
    background-color: #fff;
}

.support__div {
    background-color: #fff;
    border-left: 1px dotted #2c333894;
    border-right: 1px dotted #2c333894;
    max-width: 700px;
    min-height: 720px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media (max-width: 767px) {
    .support__div {
        border: none;
        padding: 10px;
    }
}

.support__link {
    font-size: 19px;
    text-decoration: none;
    padding: 10px 30px;
    margin: 0 0 5px 0;
    border-radius: 25px;
    background-color: #E5383B;
    color: #fff;
    transition: 0.3s;
    border: 1px solid #ffffff00;
}

.support__link:hover {
    color: #E5383B;
    background-color: #fff;
    transform: scale(1.1);
    border: 1px solid #E5383B;
}

.support__link--social {
    margin: 10px;
    font-size: 35px;
    color: #E5383B;
    transition: 0.2s;
}

.support__link--social:hover {
    transform: scale(1.2);
}

.support__unorganizedList {
    margin: 0;
    padding: 20px;
    text-align: center;
}

.support__listItem {
    padding: 10px;
    font-size: 21px;
    list-style: none;
}

.support__h2 {
    text-align: center;
    margin: 10px;
    font-size: 28px;
}

.support__paragraph {
    font-size: 16px;
    text-align: center;
    padding: 0 0 5px 0;
    margin: 0;
}

.support__paragraph--small {
    font-size: 12px;
    margin: 0;
    padding: 5px;
}

.support__span {
    display: flex;
    gap: 20px;
    margin-top: 10px;
}