.application {
    background: url(./../images/application.jpg) no-repeat scroll center;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: 700px;
}

.application__image {
    max-height: 400px;
    margin-right: 50px;
    transition: 0.3s;
}

@media (max-width: 767px) {
    .application__image {
        margin: 50px;
    }
}

.application__image:hover {
    transform: scale(1.1) rotate(-3deg);
}